<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8' http-equiv='Content-Type"/>
  </head>
  <body>
    <h1>
      <%= "#{@media_profile.name}," %>
    </h1>
    <p>
      <%= "Anda dijemput untuk menghadiri acara, #{@event.name}" %>
      <%= "pada #{@event.date.strftime('%d-%m-%Y')} bermula pukul #{@event.time.to_s(:time)}." %>
    </p>
    <p>
      Berikut adalah maklumat yang berkaitan:
    </p>
    <br/>
    <table>
      <tbody>
        <tr>
          <td>
            <strong>
              <%= t('name') %>
            </strong>
          </td>
          <td>
            <%= @event.name %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <%= t('date') %>
            </strong>
          </td>
          <td>
            <%= @event.date.strftime('%d-%m-%Y') %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <%= t('time') %>
            </strong>
          </td>
          <td>
            <%= @event.time.to_s(:time) %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <%= t('venue') %>
            </strong>
          </td>
          <td>
            <%= @event.venue %>
          </td>
        </tr>
        <% if !@event.agenda_details.blank? %>
          <tr>
            <td>
              <strong>
                <%= t('agenda_details') %>
              </strong>
            </td>
            <td>
              <%= image_tag(@event.agenda_details) %>
            </td>
          </tr>
        <% end %>
        <% if !@event.letter.blank? %>
          <tr>
            <td>
              <strong>
                <%= t('letter') %>
              </strong>
            </td>
            <td>
              <%= image_tag(@event.letter) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br/>
    <br/>
    <table cellspacing="10px" cellpadding="10px"> 
      <tr> 
        <td align="center" width="300" height="40" bgcolor="#000091" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
          <a href=<%= update_rsvp_event_url(id: @event.id, attendee_id: @attendee.id, rsvp_response: 1 )%> style="color: #ffffff; font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">Saya akan hadir</a>
        </td> 
      </tr> 

      <tr> 
        <td align="center" width="300" height="40" bgcolor="#000091" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
          <a href=<%= update_rsvp_event_url(id: @event.id, attendee_id: @attendee.id, rsvp_response: 0 )%> style="color: #ffffff; font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">Saya tidak akan hadir</a>
        </td> 
      </tr> 
    </table> 
    <br/>
    <p>
      Atau klik di <a href=<%= update_rsvp_event_url(id: @event.id, attendee_id: @attendee.id, rsvp_response: true )%>>sini</a>
      kalau anda akan menghadiri acara ini.
    <p>
      Kehadiran anda amat dialu-alukan.
    </p>
  </body>
</html>



