
<div class='background-invitation' style="background-image: url('http://<%= @the_domain %>/assets/invitation.png');
    height: 1500px;
    background-repeat: no-repeat;
    width: 960px;
    padding-left: 10px;
    font-family: Helvetica;">
  <div class='attendee-name' style="padding-top:310px;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;">
    <%= @attendee.full_name_with_prefix %>
  </div>
  <div class='attendee-designation' style="text-align: center;
    font-size: 1.8em;
    font-weight: 100;
    text-transform: uppercase;">
    <%= @attendee.designation %>
  </div>
  <div class='event-name' style="padding-top:100px;
    text-align: center;
    font-size: 2.0em;
    font-weight: bold;
    text-transform: uppercase;">
    <%= @event.name %>
  </div>
  <div class='event-details' style="padding-top: 110px; padding-left: 240px;
    font-size:1.4em;
    font-weight: 200;">
    <div class='date'>
      <%= @event.date %>
    </div>
    <div class='time padding-extra' style="padding-top: 3px;">
      <%= @event.time_string %>
    </div>
    <div class='place padding-extra' style="padding-top: 3px;">
      <%= @event.venue %>
    </div>
    <div class='organizer padding-extra' style="padding-top: 3px;">
      <%= @event.organizer %>
    </div>
  </div>

  <div style="padding-top:115px; padding-left:260px; font-size:1.4em;
    font-weight: 200;">
  <%= @event.rsvp_by %>
</div>
<div>
<ul>
<li align="center" bgcolor="#000091" height="40" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block; position: absolute; top: 977px; right: 610px" width="300px">
<%= link_to 'Saya Akan Hadir', update_rsvp_event_url(id: @event.id, attendee_id: @attendee.id, rsvp_response: 1 ), style:"color: #ffffff; font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block" %>
</li>
<li align="center" bgcolor="#000091" height="40" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block; position: absolute; top: 977px; right: 190px" width="300px">
<%= link_to 'Saya Tidak Akan Hadir', update_rsvp_event_url(id: @event.id, attendee_id: @attendee.id, rsvp_response: 0 ), style:"color: #ffffff; font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block" %>
</li>
</ul>
</div>

</div>
