<!-- Begin Mail -->
<div style="text-align: left; display: inline-block; width: 960px; height: 1500px; margin: 0; padding: 0; background:transparent url('<%= @invitation_image_url %>') top left no-repeat">
  <!-- Content -->
  <table cellpadding="0" cellspacing="0" style="border-collapse: separate; margin: 260px 80px 0; width: 800px; height: 600px;">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div style="text-align:center; margin: 0 auto; display: block;">
            <h2 style="font-size: 26px; text-transform: uppercase; letter-spacing: -1px; "><%= @attendee.full_name_with_prefix %></h2>
            <h3 style="font-size: 24px; font-weight: normal; text-transform: uppercase; letter-spacing: -1px; "><%= @attendee.designation %></h3>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="text-align:center; margin: 0 auto; display: block; padding: 5px 0">
            <h2 style="font-size: 26px; margin: 50px 0; text-transform: uppercase; letter-spacing: -1px; "><%= @event.name %></h2>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <!-- Event Details -->
          <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse; margin: 30px 0; font-size: 16px;">
            <tbody>
              <tr style="line-height: 40px;">
                <td width="150"><strong>Tarikh</strong></td>
                <td>:</td>
                <td><%= @event.date %></td>
              </tr>
              <tr style="line-height: 40px;">
                <td width="150"><strong>Masa</strong></td>
                <td>:</td>
                <td><%= @event.time_string %></td>
              </tr>
              <tr style="line-height: 40px;">
                <td width="150"><strong>Tempat</strong></td>
                <td>:</td>
                <td><%= @event.place %></td>
              </tr>
              <tr style="line-height: 40px;">
                <td width="150"><strong>Perasmi</strong></td>
                <td>:</td>
                <td><%= @event.organizer %></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td style="line-height: 40px; padding: 40px 0;" colspan="3">
                  <p style="line-height: 10px;">* Aturcara seperti dilampiran</p>
                  <p style="line-height: 10px;">* Sila RSVP sebelum <%= @event.rsvp_by %></p>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <center>
                    <%= link_to 'Saya Akan Hadir', update_rsvp_event_url(id: @event.id, attendee_id: @attendee.id, rsvp_response: 1 ), style:"color: #ffffff; font-size:20px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:80px; width:300px; display:inline-block; text-decoration: none; background: blue; margin: 0 20px 20px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; background-color: rgb(17, 85, 204) !important;" %>
                    <%= link_to 'Saya Tidak Akan Hadir', update_rsvp_event_url(id: @event.id, attendee_id: @attendee.id, rsvp_response: 0 ), style:"color: #ffffff; font-size:20px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:80px; width:300px; display:inline-block; text-decoration: none; background: blue; margin: 0 20px 20px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; background-color: rgb(17, 85, 204) !important;" %>
                  </center>
                </td>
              </tr>
            </tfoot>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Footer -->
  <table width="100%" height="500px" cellpadding="0" cellspacing="0" style="border: none;">
    <tbody>
      <tr>
        <td>
          <div class="social-links" style="text-align: center; margin: 200px auto 0;">
            <%= link_to 'Facebook', '#', style:"width: 70px; height: 70px; display: inline-block; background: transparent; text-indent: -9999em;margin: 0 25px 0 0;" %>
            <%= link_to 'Twitter', '#', style:"width: 70px; height: 70px; display: inline-block; background: transparent; text-indent: -9999em;margin: 0 25px 0 0;"  %>
            <%= link_to 'Vimeo', '#', style:"width: 70px; height: 70px; display: inline-block; background: transparent; text-indent: -9999em;margin: 0 25px 0 0;"  %>
            <%= link_to 'Youtube', '#', style:"width: 70px; height: 70px; display: inline-block; background: transparent; text-indent: -9999em;margin: 0 25px 0 0;"  %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- End Main -->