
<div class='background-invitation' style="background-image: url('<%= @invitation_image_url %>');
    height: 1500px;
    background-repeat: no-repeat;
    width: 960px;
    padding-left: 10px;
    font-family: Helvetica;">
  <div class='attendee-name' style="padding-top:310px;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;">
    <%= @attendee.full_name_with_prefix %>
  </div>
  <div class='attendee-designation' style="text-align: center;
    font-size: 1.8em;
    font-weight: 100;
    text-transform: uppercase;">
    <%= @attendee.designation %>
  </div>
  <div class='event-name' style="padding-top:100px;
    text-align: center;
    font-size: 2.0em;
    font-weight: bold;
    text-transform: uppercase;">
    <%= @event.name %>
  </div>
  <div class='event-details' style="padding-top: 110px; padding-left: 80px;
    font-size:1.4em;
    font-weight: 200;">
    <div class='date'>
      <span style="font-weight: bold;display:inline-block;width=200px;" >Tarikh</span><span style="padding-left:20px;padding-right:20px;">:</span><span><%= @event.date %></span>
    </div>
    <div class='time padding-extra' style="padding-top: 3px;">
      <span style="font-weight: bold;display:inline-block;width=200px;" >Masa</span><span style="padding-left:20px;padding-right:20px;">:</span><span><%= @event.time_string %></span>
    </div>
    <div class='place padding-extra' style="padding-top: 3px;">
      <span style="font-weight: bold;display:inline-block;width=200px;" >Tempat</span><span style="padding-left:20px;padding-right:20px;">:</span><span><%= @event.venue %></span>
    </div>
    <div class='organizer padding-extra' style="padding-top: 3px;">
      <span style="font-weight: bold;display:inline-block;width=200px;" >Perasmi</span><span style="padding-left:20px;padding-right:20px;">:</span><span><%= @event.organizer %></span>
    </div>
  </div>

  <div style="padding-top:20px; padding-left:80px; font-size:1.3em;
    font-weight: 200;">
    <p>* Aturcara seperti dilampiran</p>
    <p>* Sila RSVP sebelum <%= @event.rsvp_by %></p>
</div>
<div>
  <table>
    <tr>
      <td align="center" bgcolor="#000091" height="40" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block; position: absolute; top: 977px; right: 610px" width="300px">
      <%= link_to 'Saya Akan Hadir', update_rsvp_event_url(id: @event.id, attendee_id: @attendee.id, rsvp_response: 1 ), style:"color: #ffffff; font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block" %>
      </td>
      <td align="center" bgcolor="#000091" height="40" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block; position: absolute; top: 977px; right: 190px" width="300px">
      <%= link_to 'Saya Tidak Akan Hadir', update_rsvp_event_url(id: @event.id, attendee_id: @attendee.id, rsvp_response: 0 ), style:"color: #ffffff; font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block" %>
      </td>
    </tr>
  </table>
</div>

</div>
