= form_for @event do |f|
  .container
    .row
      .field
        %table.table.strip.show-table
          %tbody
            %tr
              %th= f.label t('event_name')
              %td= f.text_field :name, class: 'text input'
            %tr

              %th= f.label t('date')
              %td= f.text_field :date, class: 'text input datepicker', value: ( @event.date.try(:strftime,'%d-%m-%Y') )#unless @event.new_record? )
            %tr
              %th= f.label t('time')
              %td= f.time_select :time,{ampm: true, default: Time.parse("09:00")}
            %tr

              %th= f.label t('rsvp_by')
              %td= f.text_field :rsvp_by, class: 'text input datepicker', value: ( @event.rsvp_by.try(:strftime,'%d-%m-%Y') )#unless @event.new_record? )
            %tr
              %th= f.label t('venue')
              %td= f.text_field :venue, class: 'text input'
            %tr
              %th= f.label t('official')
              %td= f.text_field :official, class: 'text input'
            %tr
              %th= f.label t('organizer')
              %td= f.text_field :organizer, class: 'text input'
            %tr
              %th= f.label t('agenda_details')
              %td
                %span= f.file_field :agenda_details
                - unless @event.new_record?
                  %span= display_uploaded_file(@event.agenda_details)
                  .fields
                    %label.checkbox{for: 'check1'}
                      = f.check_box :remove_agenda_details, id: 'check1'
                      %span
                      Padam?
              
            %tr
              %th= f.label t('letter')
              %td
                %span= f.file_field :letter
                - unless @event.new_record?
                  %span= display_uploaded_file(@event.letter)
                  .fields
                    %label.checkbox{for: 'check2'}
                      = f.check_box :remove_letter, id: 'check2'
                      %span
                      Padam?
    .row
      %span.btn.primary.medium
        = f.submit t('save')