= form_for @event do |f|
  .container
    .row
      .field
        %table.table.strip.show-table
          %tbody
            %tr
              %th= f.label t('date')
              %td= f.text_field :date, class: 'datepicker', value: ( @event.date.strftime('%d-%m-%Y') unless @event.new_record? )
            %tr
              %th= f.label t('time')
              %td= f.time_select :time
            %tr
              %th= f.label t('venue')
              %td= f.text_field :venue
            %tr
              %th= f.label t('official')
              %td= f.text_field :official
            %tr
              %th= f.label t('organizer')
              %td= f.text_field :organizer
    .row
      %span.btn.primary.medium
        = f.submit t('save')