= form_for @event do |f|
  .container
    .row
      .field
        %table.table.strip.show-table
          %tbody
            %tr
              %th= f.label t('date')
              %td= f.text_field :date, class: 'text input datepicker', value: ( @event.date.strftime('%d-%m-%Y') unless @event.new_record? )
            %tr
              %th= f.label t('time')
              %td= f.time_select :time
            %tr
              %th= f.label t('agenda_details')
              %td
                %span= f.file_field :agenda_details
                - unless @event.new_record?
                  %span= @event.agenda_details.blank? ? '' : image_tag(@event.agenda_details.thumb)
              
            %tr
              %th= f.label t('letter')
              %td
                %span= f.file_field :letter
                - unless @event.new_record?
                  %span= @event.letter.blank? ? '' : image_tag(@event.letter.thumb)
             
            %tr
              %th= f.label t('venue')
              %td= f.text_field :venue, class: 'text input'
            %tr
              %th= f.label t('official')
              %td= f.text_field :official, class: 'text input'
            %tr
              %th= f.label t('organizer')
              %td= f.text_field :organizer, class: 'text input'
    .row
      %span.btn.primary.medium
        = f.submit t('save')