.row
  %h2.four.columns= t('.title')
  .btn.primary.medium.push_five.three.columns
    = link_to t('new_event'), new_event_path


%table.rounded
  %thead
    %tr
      %th= t('date')
      %th= t('time')
      %th= t('venue')
      %th= t('official')
      %th= t('organizer')
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.date.strftime('%d-%m-%Y'), event, class: 'show-link'
        %td= event.time.to_s(:time)
        %td= link_to event.venue, event, class: 'show-link'
        %td= event.official
        %td= event.organizer
        %td
          %span.btn.medium.warning= link_to t('edit'), edit_event_path(event)
        %td
          %span.btn.medium.danger= link_to t('destroy'), event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
