.row
  %h2.four.columns= t('.title')
  .btn.primary.medium.push_five.three.columns
    = link_to t('new_event'), new_event_path

= render 'search_events'

%table.rounded
  %thead
    %tr
      %th= t('date')
      %th= t('time')
      %th= t('name')
      %th= t('venue')
      %th= t('organizer')
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.date.strftime('%d-%m-%Y')#, event, class: 'show-link'
        %td= event.time.to_s(:time)
        %td= link_to event.name, event, class: 'show-link'
        %td= event.venue#, event, class: 'show-link'
        %td= event.organizer
        %td.buttons
          / %span.btn.medium.warning= link_to t('edit'), edit_event_path(event)
          / %br
          %span.btn.medium.danger.padam-small= link_to t('destroy'), event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
