.row
  %h2.six.columns= t('.title')
  .btn.secondary.medium.push_three.three.columns
    = link_to t('edit_event'), edit_event_path(@event)

%table.rounded

  %tbody
    %tr
      %td=t('name')
      %td= @event.name
    %tr
      %td=t('date')
      %td= @event.date.strftime('%d-%m-%Y')
    %tr
      %td=t('time')
      %td= @event.time.to_s(:time)
    %tr
      %td=t('agenda_details')
      %td= @event.agenda_details.blank? ? '' : content_tag(:a, href: @event.agenda_details, class: 'image-link') do image_tag(@event.agenda_details.thumb) end
    %tr
      %td=t('letter')
      %td= @event.letter.blank? ? '' : content_tag(:a, href: @event.letter, class: 'image-link') do image_tag(@event.letter.thumb) end
    %tr
      %td=t('venue')
      %td= @event.venue
    %tr
      %td=t('official')
      %td= @event.official
    %tr
      %td=t('organizer')
      %td= @event.organizer
%br

.row
  .twelve.columns
    %h3
      Hantar Jemputan Ke:
    = form_for '', url: send_invites_to_event_path(@event) do |f|
      %ul
        %li.field
          .picker
            - select_options = [[t('all_media'),'all_media']] + MediaProfile.media_types.map{ |a| [a,a]}
            = select_tag 'media_profile_select', options_for_select(select_options)
        %li
          %span.btn.medium.primary
            = f.button t('send')

%br


%span.medium.btn.primary
  = link_to t('back'), events_path

%br

.row
  - if @event.attendance_list
    - if @event.attendance_list.attendees.count > 0 #&& !@event.attendance_list.completed
      .row
        .ten.columns
          %h5= t('.attendance_list')
        .two.columns
          %span.pretty.medium.btn.info.print-disabled
            = link_to t('print'), '#', onClick: "print();"
      %hr.divider
      %table.table.table-striped
        %thead
          %tr
            %th
              ID
            %th
              Name
            %th
              Email
            %th
              Company
        %tbody
          - @event.attendance_list.attendees.each_with_index do |attendee, index|
            %tr
              %td
                = index + 1
              %td
                %p= attendee.media_profile.name
              %td
                = attendee.media_profile.email
              %td
                = attendee.media_profile.company_name
              %td
                - if !attendee.attended.nil? && !attendee.attendance_status.nil?
                  = t(attendee.attendance_status)
                - else
                  %ul.print-disabled
                    %li
                      %small
                        = link_to t('present'), update_attendance_event_path(media_profile_id: attendee.media_profile_id, attendee_id: attendee.id, event_id: @event.id, attended: true, attendance_status: 'present'), method: :post
                    %li
                      %small
                        = link_to t('not_present'), update_attendance_event_path(media_profile_id: attendee.media_profile_id, attendee_id: attendee.id, event_id: @event.id, attended: false, attendance_status: 'not_present'), method: :post
                    %li
                      %small
                        = link_to t('cannot_attend'), update_attendance_event_path(media_profile_id: attendee.media_profile_id, attendee_id: attendee.id, event_id: @event.id, attended: false, attendance_status: 'cannot_attend'), method: :post



