= stylesheet_link_tag 'invitation'
.background-invitation
  .attendee-name
    = @attendee.full_name_with_prefix
  .attendee-designation
    = @attendee.designation
  .event-name
    = @event.name
  .event-details
    .date
      = @event.date
    .time.padding-extra
      = @event.time_string
    .place.padding-extra
      = @event.venue
    .organizer.padding-extra
      = @event.organizer