= form_for @media_profile do |f|
  - if @media_profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@media_profile.errors.count, "error")} prohibited this media_profile from being saved:"
      %ul
        - @media_profile.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :media_type
    = f.text_field :media_type
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :designation
    = f.text_field :designation
  .field
    = f.label :company_name
    = f.text_field :company_name
  .field
    = f.label :office_phone
    = f.text_field :office_phone
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Save'
