.row
  %h2.four.columns= t('.title')
  .btn.primary.medium.push_five.three.columns
    = link_to t('new_media_profile'), new_media_profile_path

= render 'choose_media_type_select'
%table.rounded
  %thead
    %tr
      %th= t('media_type')
      /%th= t('name_title')
      %th= t('name')
      %th= t('media_name')
      / %th= t('designation')
      / %th= t('company_name')
      / %th= t('office_phone')
      %th= t('email')
      %th
  %tbody
    - @media_profiles.each do |media_profile|
      %tr
        %td= media_profile.media_type
        %td= link_to "#{media_profile.try(:title)} #{media_profile.name}".strip, media_profile, class: 'show-link'
        %td= media_profile.media_name
        %td= link_to media_profile.email, media_profile, class: 'show-link'
        %td.buttons
          / %span.btn.medium.warning= link_to t('edit'), edit_media_profile_path(media_profile), class: 'wider-btn'
          / %br
          %span.btn.medium.danger.padam-small= link_to t('destroy'), filter_media_profiles_path(media_profile_select: @media_type, search: @search_terms), :method => :delete, :data => { :confirm => t('are_you_sure') }
        / %tr
        /   %td
        /   %td.profile-details{colspan: 3}
        /     %ul
        /       %li
        /         %div
        /           %strong= t('designation') + ':'
        /         %div= media_profile.designation
        /       %li
        /         %div
        /           %strong= t('office_phone') + ':'
        /         %div= media_profile.office_phone
        / %td= media_profile.designation
        / %td= media_profile.company_name
        / %td= media_profile.office_phone
%br



