%h1 Listing media_profiles

%table
  %tr
    %th Media type
    %th Title
    %th Name
    %th Designation
    %th Company name
    %th Office phone
    %th Phone
    %th Email
    %th
    %th
    %th

  - @media_profiles.each do |media_profile|
    %tr
      %td= media_profile.media_type
      %td= media_profile.title
      %td= media_profile.name
      %td= media_profile.designation
      %td= media_profile.company_name
      %td= media_profile.office_phone
      %td= media_profile.phone
      %td= media_profile.email
      %td= link_to 'Show', media_profile
      %td= link_to 'Edit', edit_media_profile_path(media_profile)
      %td= link_to 'Destroy', media_profile, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Media profile', new_media_profile_path
