.row
  %h2.four.columns= t('.title')
  .btn.primary.medium.push_five.three.columns
    = link_to t('new_media_profile'), new_media_profile_path



%table.rounded
  %thead
    %tr
      %th= t('media_type')
      %th= t('name_title')
      %th= t('name')
      %th= t('designation')
      %th= t('company_name')
      %th= t('office_phone')
      %th= t('email')
      %th
      %th
  %tbody
    - @media_profiles.each do |media_profile|
      %tr
        %td= media_profile.media_type
        %td= media_profile.title
        %td= link_to media_profile.name, media_profile, class: 'show-link'
        %td= media_profile.designation
        %td= media_profile.company_name
        %td= media_profile.office_phone
        %td= link_to media_profile.email, media_profile, class: 'show-link'
        %td
          %span.btn.medium.warning= link_to t('edit'), edit_media_profile_path(media_profile), class: 'wider-btn'
        %td
          %span.btn.medium.danger= link_to t('destroy'), media_profile, :method => :delete, :data => { :confirm => t('are_you_sure') }

%br



