.row
  %h2.six.columns= t('.title')
  .btn.secondary.medium.push_three.three.columns
    = link_to t('edit_media_profile'), edit_media_profile_path(@media_profile)



%table.rounded

  %tbody
    %tr
      %td=t('media_type')
      %td= @media_profile.media_type
    %tr
      %td=t('name_title')
      %td= @media_profile.title
    %tr
      %td=t('name')
      %td= @media_profile.name
    %tr
      %td=t('designation')
      %td= @media_profile.designation
    %tr
      %td=t('company_name')
      %td= @media_profile.company_name
    %tr
      %td=t('email')
      %td= @media_profile.email
    %tr
      %td=t('personal_email')
      %td= @media_profile.personal_email
    %tr
      %td=t('phone')
      %td= @media_profile.phone
    %tr
      %td=t('office_phone')
      %td= @media_profile.office_phone

%br


%span.medium.btn.primary
  = link_to t('back'), media_profiles_path

