!!!
%html
  %head
    %title MPS - Media Invite Manager
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag :modernizr
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .row
      = render 'layouts/errors'
    .row
      %section.tabs
        = yield
    = render 'layouts/footer'
